
@{
    ViewBag.Title = "Home-DisplayContacts";
}

<div class="left-body">
    <h3>CONTACTS</h3>
    <div class="contacts" id="contacts">      
        <div>
            @*<a href="@Url.Action("ViewDetailsOfContact", "Home")">*@
                <h1 id="name"></h1>
                <p id='email'></p>
                <p id='number'></p>
            @*</a>*@
        </div>
    </div>
</div>
