
@{
    ViewBag.Title = "View contact details";
}

<div class="editor">
        <span class="edit-icon"><img id="img-styles" src="~/Content/edit1.jpg" /> EDIT</span>
        <span class="delete-icon"><img id="img-styles" src="~/Content/delete1.png" /> DELETE</span>
</div>
<div class="contact-details">
    <h1 id="dis-name"></h1><br />
    <p id="dis-email">Email: </p><br />
    <p id="dis-num">Mobile: </p>
    <p id="dis-number">Landline: </p><br />
    <p id="dis-website">Website: </p><br />
    <p id="dis-address">Address: </p>
</div>


